#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
url --url="http://192.168.69.1/cobbler/ks_mirror/CentOS7-x86_64/"
# Use graphical install
text
# Run the Setup Agent on first boot
#firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=template.dual.edu

# Root password
rootpw --iscrypted $6$L7fqEWblhO.FdJqI$y/ONiSKiWDYUWiBHHOQ1SBzp0i1pVxgdAyTIv3KcHKZtypkASQ3dfq.wgSO0FUk1lMuSnacFJRyd1ZN9IEQo3.
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Bratislava --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org
user --groups=wheel --name=student --password=$6$Y0KHsl1KhU7M.6kh$vErXgXHnSczLd8xRT53bulwSKn6Y/2Cv.PLDCeU2ZYf.td5uOCbq.M0lMQ3pHok60X6/zM5t4RLXViaUgKUNF0 --iscrypted --gecos="student"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --drives=sda --all
# Disk partitioning information
part pv.156 --fstype="lvmpv" --ondisk=sda --size=9215
part /boot --fstype="ext4" --ondisk=sda --size=1024
volgroup sysvg --pesize=4096 pv.156
logvol /  --fstype="xfs" --grow --maxsize=51200 --size=1024 --name=root --vgname=sysvg
logvol swap  --fstype="swap" --size=1023 --name=swap --vgname=sysvg

reboot
eula --agreed

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11
chrony
telnet
openldap-clients 
nss-pam-ldapd


%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

# post installation
%post --log=/root/postinstall.log
exec < /dev/tty3 > /dev/tty3
chvt 3
echo
/usr/bin/systemctl disable NetworkManager
/usr/bin/yum update -y --skip-broken
/sbin/authconfig --enableforcelegacy --update
/sbin/authconfig --enableldap --enableldapauth --enablemkhomedir --ldapserver="infra01.dual.edu" --ldapbasedn="dc=dual,dc=edu" --update
exit 0
chvt 1
%end
